/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
/nbproject/
/nbproject/*
/nbproject/*.*
/nbproject/*/
composer.lock

fuel/app/config/production/migrations.php
